div {
    margin-bottom: 20px;
}

div.sem-acesso {
    display: flex;
    justify-content: center;
}

div.help > a {
    padding-left: 28%;
}

@media (max-width: 450px) {
    div.help > a {
        padding-left: 0%;
    }
}

@media (max-width: 450px) {   /* quebrando a linha após tirar o padding acima */
    div.help > a::before {
        content: "\A"; /* Quebra de linha */
        white-space: pre; /* Permite que \A funcione como quebra de linha */
    }
}
